<html>

<body>
	<div style="
		{{@root.allStyle}}
		width: 100%; max-width: 640px;
		padding: 0; margin: 0 auto;
		border: 1px solid {{@root.bg-clr-3}}; border-radius: 12px;
		background-color: {{@root.bg-clr-1}};
		font-size: 16px; color: {{@root.tx-clr-1}};
		overflow: hidden;
	">
		{{!-- Main Container --}}
		<div>

			{{!-- Heading --}}
			<div style="
				{{@root.allStyle}}
				padding: 16px;
				border-top: 8px solid {{@root.pm-clr-1}};
				text-align: center; font-size: 18px; color: {{@root.tx-clr-1}}
			">
				<strong>
					There {{#if @root.single}}is{{else}}are{{/if}} {{@root.offers.length}} 
					new offer{{#unless @root.single}}s{{/unless}} for you to view!
				</strong>

				{{!-- Sub Heading --}}
				<div style="font-size: 14px; color: {{@root.tx-clr-3}}">
					New offers based on your selected filters:
				</div>
			</div>

			{{!-- Offers --}}
			<div style="{{@root.allStyle}} padding: 16px 0;">
			{{#each @root.offers as |offer|}}
				{{!-- Offer --}}
				<div style="
					{{@root.allStyle}}
					padding: 8px; margin: 0 16px; {{#unless @last}}margin-bottom: 16px;{{/unless}}
					border-left: 4px solid {{@root.pm-clr-1}}; border-radius: 4px;
					background-color: {{@root.bg-clr-2}};
					text-align: center; font-size: 14px;
				">
					<a href="{{offer.link}}" style="display: block; margin: -8px; text-decoration: none; color: inherit;">

						{{!-- Title --}}
						<div style="font-size: 16px; color: {{@root.tx-clr-2}};">
							<strong>{{offer.title}}</strong>
						</div>

						{{!-- Details --}}
						<span style="color: {{@root.tx-clr-3}};">Fuel Type:</span> <strong style="color: {{@root.tx-clr-2}};">{{offer.fuelType}}</strong>
						<br>
						<span style="color: {{@root.tx-clr-3}};">Availability:</span> <strong style="color: {{@root.tx-clr-2}};">{{offer.availability}}</strong>
						<br>
						<span style="color: {{@root.tx-clr-3}};">Lease Length:</span> <strong style="color: {{@root.tx-clr-2}};">{{offer.leaseLength}}</strong>

					</a>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
</body>

</html>